# Python dependencies
fastapi
uvicorn[standard]
python-multipart
pydantic

# ML and Computer Vision
torch
torchvision
git+https://github.com/openai/CLIP.git
opencv-python-headless
Pillow
mediapipe==0.10.31
scikit-learn

# Data Processing
pandas
numpy
ftfy==6.1.3
regex==2023.10.3
tqdm==4.66.1
